global
    log stdout format raw local0
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option  redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

resolvers dns
    parse-resolv-conf

frontend wp-front
    bind 0.0.0.0:80
    bind 0.0.0.0:443 ssl crt /etc/ssl/certs/test/cert.pem
    default_backend varnish

backend varnish
    balance roundrobin
    option httpclose
    option forwardfor
    server varnish1 varnish:80 check resolvers dns

listen stats
    bind 0.0.0.0:5666
    mode http
    option httpclose
    option httplog
    stats enable
    stats auth admin:supersecret
    stats uri /stats
